# API
AXIOM_DOMAIN=https://api.axiom.co
AXIOM_TOKEN=
BETTER_AUTH_SECRET=
DATABASE_URL=postgres://postgres:supersecret@localhost:5432/universal-starter?sslmode=require
DATASET_NAME=universal-
EMAIL_FROM=noreply@yourapp.com
EMAIL_FROM_NAME=Your App Name
EMAIL_PROVIDER=resend
NODEMAILER_PASS=your_app_password
NODEMAILER_SERVICE=gmail
NODEMAILER_USER=your_email@gmail.com
PLUNK_API_KEY=your_plunk_api_key_here
REDIS_URL=redis://default:supersecret@localhost:6379
RESEND_API_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PASS=your_app_password
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com